@import "common/var";

.lgt-popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  pointer-events: none;
}
.lgt-popup_mask {
  pointer-events: auto;
  .lgt-popup-mask {
    display: block;
  }
}
.lgt-popup-mask,
.lgt-popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.lgt-popup-mask {
  display: none;
  overflow: hidden;
  background-color: $popup-mask-bgc;
  opacity: $popup-mask-opacity;
  pointer-events: auto;
  &::before {
    content: '.';
    display: block;
    width: 1px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: -10px;
  }
}
.lgt-popup-container {
  transform: translate(100%, 100%);
}
.lgt-popup-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  transform: translate(-100%, -100%);
  pointer-events: auto;
}
.lgt-popup-center,
.lgt-popup-right,
.lgt-popup-left {
  .lgt-popup-content {
    top: -50%;
    left: -50%;
    width: auto;
    max-width: 100%;
    transform: translate(0, 0);
  }
}
.lgt-popup-right,
.lgt-popup-left {
  .lgt-popup-content {
    height: 100%;
    top: -100%;
  }
}
.lgt-popup-center {
  .lgt-popup-content {
    transform: translate(-50%, -50%);
  }
}
.lgt-popup-top {
  .lgt-popup-content {
    top: -100%;
    left: -100%;
    transform: translate(0, 0);
  }
}
.lgt-popup-right {
  .lgt-popup-content {
    top: -100%;
    right: 100%;
  }
}
.lgt-popup-left {
  .lgt-popup-content {
    left: -100%;
  }
}